# Environment
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
*.egg-info/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/.pub-cache/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db

# Logs
*.log
